.display {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: #4357692d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    box-sizing: border-box;
  }

  .inputs{
    padding: 0.5rem;
    font-size: 20px;
    font-weight:bold;
    width: 100%;
    text-align: end;
  }