* {
  box-sizing: border-box;
  background-color: #3e3772;
}

.title {
    margin-top: 5rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  font-weight: bold;
  color: rgb(48, 48, 48);
  text-shadow: 0 0 5px rgb(61, 60, 60);
  font-size: 2rem;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30vw;
  margin-top: 50px;
  width: 30vw;
  height: 400px;
  gap: 0.5em;
}

.numbers {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.nBtn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  font-weight: bold;
  color: rgb(48, 48, 48);
  text-shadow: 0 0 5px rgb(61, 60, 60);
  cursor: pointer;
}

.nBtn:hover {
  background-color: #000;
  color: #fff;
  text-shadow: 0 0 5px rgb(61, 60, 60);
}

.sBtn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  font-weight: bold;
  color: rgb(48, 48, 48);
  text-shadow: 0 0 5px rgb(61, 60, 60);
  cursor: pointer;
}

.sBtn:hover {
  background-color: #000;
  color: #fff;
  text-shadow: 0 0 5px rgb(61, 60, 60);
}

.inputs {
  text-align: right;
  padding: auto;
  font-size: 1.5rem;
  width: 250px;
  background-color: #fff;
  margin: 1rem;
}

.cBtn {
  margin: 0.25rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  font-weight: bold;
  color: rgb(48, 48, 48);
  text-shadow: 0 0 5px rgb(61, 60, 60);
  cursor: pointer;
}

.cBtn:hover {
  background-color: #000;
  color: #fff;
  text-shadow: 0 0 5px rgb(61, 60, 60);
}
